
        /* HTML5 display-role reset for older browsers */
        article, aside, details, figcaption, figure,
        footer, header, hgroup, menu, nav, section {
            display: block;
        }
        body {
            line-height: 1;
        }
        ol, ul {
            list-style: none;
        }
        blockquote, q {
            quotes: none;
        }
        blockquote:before, blockquote:after,
        q:before, q:after {
            content: '';
            content: none;
        }
        table {
            border-collapse: collapse;
            border-spacing: 0;
        }
        body {
        background-color: rgb(116, 116, 134);
            color: #efefef;
        overflow: auto;
        height: 100%;
        background-size: cover;
            font-size: 22px;
            font-family: monospace, sans-serif;
        }
        .wrapper {
            max-width: 570px;
            margin: 130px auto 75px auto;
            padding: 10px;
        }
        h1 {
            font-size: 50px;
            margin-bottom: 3px;
        font-family: arial, sans-serif;
        }
        .title {
        font-size: 24px;
            margin-bottom: 25px;
        font-family: arial, sans-serif;
        }
        p {
            font-size: 18px;
        line-height: 1.5;
        }
        a:link, a:active, a:visited {
            color: #fff;
            text-decoration: none;
            transition: all .5s ease;
        padding: 0 3px;
        }
        a.job {
            box-shadow: 0 2px 0 0 #0072bc;
        }

        a.job:hover {
            background-color: #0072bc;
        }

        a.btn {
            display: inline-block;
            padding: 15px 10px !important;
            text-align: center;
            color: #fff;
            background-color: #de584f;
            font-size: 16px;
            margin: 25px auto;
        margin-right: 8px;
            border: 0;
            clear: both;
            outline: none;
            cursor: pointer;
            border-radius: 4px;
            text-decoration: none;
            box-shadow: 0 2px 0 0 rgb(138, 37, 37);
        }
        .btn:hover {
        box-shadow: none;
            background-color: rgba(255,255,255, 0.2);
        }